# Taken from website tutorial: https://medium.com/@wahab.kazmi2000/building-and-deploying-a-react-js-project-with-docker-and-gitlab-ci-3913efa74c71
stages:
  - frontend
  - backend
  - image

variables:
  IMAGE_NAME: development
  IMAGE_TAG: latest
  APP_DIRECTORY: doctor-power

frontend_build:
  stage: frontend
  image: node:14
  script:
    - cd frontend/$APP_DIRECTORY
    - npm install
    - npm run build
    - npm test --passWithNoTests

backend_build:
  stage: backend
  image: mcr.microsoft.com/dotnet/sdk:9.0
  script:
    - cd backend
    - dotnet restore
    - dotnet build
    - dotnet test

# build-docker-image:
#   stage: image
#   image: docker:19.03.12
#   services:
#     - docker:19.03.12-dind
#   script:
#     - cd frontend
#     - docker info
#     - |
#       if [ "$CI_COMMIT_BRANCH" == "main" ]; then
#         export IMAGE_NAME=production
#       elif [ "$CI_COMMIT_BRANCH" == "feature/frontend" ]; then
#         export IMAGE_NAME=staging
#       else
#         echo "Skipping Docker image build for branch $CI_COMMIT_BRANCH"
#         exit 0
#       fi
#     - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
#     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
#     - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
